PORT=3001
NODE_ENV=development
LOG_LEVEL=info

INSTAGRAM_APP_ID=your_app_id
INSTAGRAM_APP_SECRET=your_app_secret
INSTAGRAM_REDIRECT_URI=http://localhost:3001/api/auth/instagram-callback
INSTAGRAM_API_VERSION=v21.0
INSTAGRAM_OAUTH_AUTHORIZE_URL=https://www.facebook.com/v21.0/dialog/oauth
INSTAGRAM_OAUTH_TOKEN_URL=https://graph.facebook.com/v21.0/oauth/access_token
INSTAGRAM_GRAPH_API_BASE_URL=https://graph.facebook.com/v21.0
INSTAGRAM_SCOPES=instagram_graph_api,instagram_manage_messages,instagram_basic,pages_manage_posts

DB_PATH=./data/phone_studio.db

APPROVAL_TOKEN=replace_with_secure_random_token
JWT_SECRET=replace_with_jwt_secret

DM_SYNC_INTERVAL_MINUTES=5
POST_RETRY_MAX_ATTEMPTS=3

PWA_ORIGIN=http://localhost:3000
